name: Rust CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      # Cache cargo build files and dependencies.
      - name: Cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      # Build the project.
      - name: Build
        run: cargo build --verbose
      # Run rustfmt.
      - name: Format
        run: cargo fmt --check -- --verbose
      # Run clippy.
      - name: Clippy
        run: cargo clippy -- -D warnings
      # Run tests.
      - name: Run tests
        run: cargo test --verbose
